html{
  height: 1280px;
}
body{
  height:1000px;
}
#root{
  width: 100%;
}



body, main{
 background-image:url("http://a1star.com/images/starsglow1.gif");
font-family:"Comic Sans MS", "Comic Sans";
display:flex;
  color:gold;
}

.footerContainer{
  display: flex;
  justify-content: center;
  position: fixed;
height: 50px;
background-color: red;
bottom: 0px;
left: 0px;
right: 0px;
margin-bottom: 0px;
}

.splashContainer{
  display: flex ;
  justify-content: center ;
  height: 100%;
}

.titleContainer{
  font-family: 'VT323', monospace;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;

    margin-top: 15%;
    /* margin-left: 15%; */
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    font-size: 3.5em;
    width: 320px;

}
.titleContainer>h1, h3{
  margin-top: 0px;
  margin-bottom: 0px;

}
