html{
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.App{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}


body, main{
 background-image:url("http://a1star.com/images/starsglow1.gif");
font-family:"Comic Sans MS", "Comic Sans";
display:-webkit-box;
display:-ms-flexbox;
display:flex;
  color:gold;
}

.footerContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  background-color: red;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.footerContainer img{
  width: 8vh;
  margin-left: 28px;
  -webkit-box-shadow: 10px 0px 10px black;
          box-shadow: 10px 0px 10px black;
  border-radius: 100%;
  -webkit-transition: padding,-webkit-box-shadow .5s;
  transition: padding,-webkit-box-shadow .5s;
  transition: padding,box-shadow .5s ;
  transition: padding,box-shadow .5s,-webkit-box-shadow .5s;


}

.footerContainer img:hover{
  width: 8vh;
  -webkit-box-shadow: 3px 0px 5px black;
          box-shadow: 3px 0px 5px black;
  border-radius: 100%;
  padding: 1px;

}

.splashContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex ;
  -webkit-box-pack: center ;
      -ms-flex-pack: center ;
          justify-content: center ;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 90%;
}

.titleContainer{
  font-family: 'VT323', monospace;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    height: 300px;
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.notSplash{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh!important;

}

.notSplashMain{
  font-size: 50px;

}
.notSplashSub{
  color: orangered;
  font-size: 14px;


}

.titleText{
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  border-top: 3px dashed orangered;
  border-bottom: 3px dashed orangered;

}
.titleText>h1, h3{
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 7em;

}
.titleFoot{
  color: orangered;
  font-size: 30px;
  font-weight: lighter;
}

.headerContainer{
  width: 100%;
  position: fixed;
  z-index: 3;
  font-family: 'VT323', monospace;
  font-size: 2.5em;

}

.navbar{
  margin-bottom: 0px;
  width: 100%
}
.navbar-brand{
  font-size: 1em;
  /* color: #fff!important; */
  color: green!important;
  -webkit-transition: color,text-shadow .25s ease-in;
  transition: color,text-shadow .25s ease-in;
}
.navbar-brand:hover{
  color:orangered!important;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.navLink{
  font-size: 1em;
  -webkit-transition: color,text-shadow .25s ease-in;
  transition: color,text-shadow .25s ease-in;
  color:#fff;
      text-shadow: 0 0 5px #fff, 0 0 1px #fff, 0 0 2px #fff, 0 0 7px #0ff, 0 0 15px #0ff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 45px #0ff;
}

.navLink:hover{
  color:orangered!important;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
section{
  display: block;
  width: 100vw;
  height: 100vh;
}


.aboutUsCard{
  width: 100%;
  font-size: 1.7em;
  background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(52, 64, 64, .20)),color-stop(rgba(52, 64, 64, .75)),color-stop(rgba(52, 64, 64, .75)),color-stop(rgba(52, 64, 64, .95)),to(rgba(102,0,102,0.1)));
  background-image:linear-gradient(rgba(52, 64, 64, .20),rgba(52, 64, 64, .75),rgba(52, 64, 64, .75),rgba(52, 64, 64, .95),rgba(102,0,102,0.1));

}

.demBoys{
  width: 100%;
}





/////////////

$phone-width: 768px;

@mixin mobile {
  @media only screen and (min-width: 1px) and (max-width: #{$phone-width}) {
    @content;
  }
}

.scroll {
  // if mobile then enable
  @include mobile {
    overflow-y: scroll;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  // momentum scrolling. usually improves experience, but here, leave disabled
  // -webkit-overflow-scrolling: touch;
}
.container {
  @extend .scroll;
  width: 100vw;
}
.container-2 {
  @extend .scroll;
  height: 100vh;
}
.slide {
  background: center/cover fixed;
  height: 100vh;
  width: 100%;
}




.slide {
  color: white;
  text-shadow: 1px 1px black;

  // text center
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 60vh;
    background-repeat: no-repeat;

}

#slide1 {
  /* background-image: url('/images/gad.png'); */
  font-family: 'Raleway', sans-serif;


}
#slide2 {
  background-image: url('/images/digital_dungeoneers.png');
}
#slide3 {
  background-image: url('http://img.wallpaperfolder.com/f/48F7528B9304/cool-2014-mclaren-concept-sports-car.jpg');
}
#slide4 {
  background-image: url('/images/digital_dungeoneers.png');
}

.slideText{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profilePic{
  width: 350px;
  height: 500px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;

}

.flippy-front, .flippy-back{
  -webkit-box-shadow: none!important;
          box-shadow: none!important;
}

.flippy-card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.flippy-container{
  height: 100vh;
    width: 96vw;
}

.flippy-front{
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#HH, #GG, #RC{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}


.words {
  color: black;
  text-align: center;
  padding: 20px;
}
a {
  color: #4285F4;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid #4285F4;
  }
}
code {
  background: #ddd;
  padding: 2px;
}
ul, ol {
  text-align: left;
}

.characterContainer> section, .castContainer> section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;


}

.castWrapper>section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;

}

.characterContainer{
  font-family: 'Raleway', sans-serif;


}

.castContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(102,0,102,0)),color-stop(rgba(6, 0, 102, 0.3)),color-stop(rgba(102,0,102,0.3)),color-stop(rgba(99, 1, 1, 0.3)),to(rgba(3, 99, 1, 0.3)));
  background-image: linear-gradient(rgba(102,0,102,0),rgba(6, 0, 102, 0.3),rgba(102,0,102,0.3),rgba(99, 1, 1, 0.3),rgba(3, 99, 1, 0.3));
}
#HH{
background-image:url('https://web.archive.org/web/20090904042651/http://geocities.com/beefywrestler/wrestv.gif');
background-size: cover;
}

#HH>.flippy-container{
    background-color:rgba(51,0,102,0.7);

}
#RC{
  background-image:url('https://web.archive.org/web/20091018215218/http://sg.geocities.com/farroch2050/Propolis/anim3/WallFire.gif');
  background-color: rgba(73, 3, 3, 0.7);
  background-repeat: repeat;


}
#GG{
  background-image:url('https://web.archive.org/web/20091027070316/http://geocities.com/mollyspoohpage2/waterani.gif');
  background-repeat: repeat;
  height: 100vh;

}
#GG>.flippy-container{
  background-color: rgba(102,204,153,0.5);

}


.titleAnimation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
z-index: 1;

}

.titleSection{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}
.devilFireAnimate{
  z-index: 0;
}

.castImage{
  width:50px;
  height:70px;
}
.castCrewSub{
  color: orangered;
}
.castCrew{
  font-size: 65px;
}

.castCard{
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width:95%;
  color: antiquewhite;
  font-family: 'Raleway', sans-serif;
  padding: 15px;
  font-size: 1.25em;
  font-weight: bolder;

}
.castCard>h1{
  text-align: center;
  font-weight: lighter;
}
#MJ>h1{
  background-image:-webkit-gradient(linear,left top, left bottom,from(white),to(rgba(102,0,102,0.9)));
  background-image:linear-gradient(white,rgba(102,0,102,0.9));
  color: transparent;
  background-clip: text;
  padding: 5%;
}
#FK>h1{
  background-image:-webkit-gradient(linear,left top, left bottom,from(white),to(rgba(255,0,0,1)));
  background-image:linear-gradient(white,rgba(255,0,0,1));
  color: transparent;
  background-clip: text;
  padding: 5%;
}
#AR>h1{

  background-image:-webkit-gradient(linear,left top, left bottom,from(white),to(rgba(102,204,204,1)));

  background-image:linear-gradient(white,rgba(102,204,204,1));
  color: transparent;
  background-clip: text;
  padding: 5%;
}
